<!DOCTYPE html>
<html>

<head>
  <% include shared/head %>
</head>

<body>
  <header class="py-5 bg-light">
    <div class="container">
        <h1>找不到商品</h1>
    </div>
  </header>
  <section class="py-5">
    <div class="container">
        <h2>前往其他頁面</h2>
        <ul>
            <li><a href="/">首頁</a></li>
            <% productList.forEach(product => { %>
                <li>
                    <a href="/product/<%= product.id %>">
                        <%= product.name %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
  </section>
</body>

</html>